
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


*{


  padding: 0;
  margin: 0;
  


  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

svg{
    vertical-align: middle;
    /* height: 20px; */
}


.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.padding1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}


body, html {
    background-color: #f9fafb;
    background-image: linear-gradient(#e5e7eb 1px,#0000 0),linear-gradient(90deg,#e5e7eb 1px,#0000 0);
    background-size: 100px 100px;
}


h1{
    font-weight: 700;
}


.container{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 800px;
    padding-left: 5%;
    padding-top: 80px;
}

.page{
    width: 36%;
    height: 100%;
}



.set-container{
    background: #FFF;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.button-set button{
    width: 100%;
    height: 45px;
    margin-top: 0.9rem;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
}

.header{
    width: 100%;
    height: 6%;
    display: flex;
    gap: 23%;
}


.form-set{
    height: 58%;
    width: 100%;
    border-top:2px;
    border-top: solid 2px rgb(229 231 235 ); 
    border-bottom: solid 2px rgb(229 231 235 );
    margin-top: 30px;
}

.form-set input{
    width: 100%;
    margin-top: 0.5rem;
    height: 45px;
    border: none;
    background:  rgb(229 231 235 );
    border-radius: 15px;
    text-indent: 20px;
    font-size: 15px;
    outline-color: #3b82f6;
}



.form-set form{
    width: 100%;
    height: 100%;
}

.text-div{
    height: 9%;
    margin-top: 6%;
    font-size: 18px;
}

.log-btn{
    width: 100%;
    height: 45px;
    margin-top: 9%;
    border-radius: 15px;
    border: none;
    background: rgb(134, 172, 248);
    color: #fff;
    font-size: 16px;
}

.link-text{
    color: rgb(29 78 216 );
    text-decoration: none;
}

.f-pass{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.f-pass a{
    font-size: 13px;
    font-weight: 500;
    padding: 5px;
}

.hover-gray:hover{
   background:rgb(218, 220, 225);
   transition: 0.2s ease-in-out;
}